<div style="background:url('{{ background | img_url: 'master' }}'); width:100%; height:400px; display: flex; align-item: center; margin-bottom:10px;">
  <div style = "width: 100%; padding: 142px 40px; font-family: Helvetica,"Helvetica Neue",Arial,"Lucida Grande",sans-serif; text-shadow: 0 0 4px
  rgba(0,0,0,0.4);">
    <h2 style="text-align:{{ position_title }}; margin:0; color:white; font-size: 4.33333em;">{{ title }}</h2>
    <p style="text-align:{{ position_content }}; margin:0; color:white; font-size: 1.53333em; font-weight: 700">{{ content }}</p>
  </div>
</div>
